Config { font = "xft:Terminus-8"
       , borderColor = "black"
       , border = NoBorder
       , bgColor = "#222222"
       , fgColor = "#ee9a00"
       , position = Static { xpos = 0, ypos = 0, width = 1280, height = 16 }
       , hideOnStart = False
       , lowerOnStart = False
       , persistent = True
       , commands = [ Run Network "eth0" ["-L","0","-H","32","--normal","green","--high","red"] 10
                    , Run Network "eth1" ["-L","0","-H","32","--normal","green","--high","red"] 10
                    , Run Cpu ["-L","3","-H","50","--normal","green","--high","red"] 10
                    , Run Memory ["-t","Mem: <usedratio>%"] 10
                    , Run Swap [] 10
                    , Run Com "uname" ["-s","-r"] "" 36000
    		    , Run Date "%a %b %_d %Y %H:%M:%S" "date" 10
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = "%cpu% | %memory% | %swap%  }{ %date%"
       }
